@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,900&family=Noto+Serif:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #ffffff;
    background-color: #001f3f;
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
}

main {
    border: 2px solid rgb(241, 3, 3);
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgb(241, 3, 3);
    margin: 10px;
}

main h1 {
    display: inline-block;
    margin: 20px;
}

section {
    max-width: 1920px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #133250;
    color: white;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 20px 1px rgb(241, 3, 3);
    border-radius: 5px;
    margin: 20px 10px;
}

h2 {
    color: #ffffff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    position: relative;
}

.hr-animate::after {
    bottom: 10px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(241, 3, 3);
    box-shadow: 0.5px 1px 5px 0.5px rgb(241, 3, 3);
    border-radius: 4px;
}

button {
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #001325;
    color: #fffafa;
    border: none;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 5px rgb(241, 3, 3);
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
}

button:hover {
    color: #133250;
}

#social-media,
#contact-info {
    margin-top: 20px;
}

#social-media a,
#contact-info p {
    margin-bottom: 10px;
}

#social-media a {
    text-decoration: none;
    font-style: italic;
    color: white;
}

#social-media a:hover {
    color: gray;
    font-weight: bold;
}

#social-media a:visited {
    color: rgb(19, 192, 19);
}

#thank-you {
    text-align: center;
}

footer {
    background-color: #001325;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

footer .left {
    font-size: large;
    text-shadow: rgb(241, 3, 3) 5px 5px 10px;
}

footer .left:hover {
    color: rgb(151, 136, 216);
    font-weight: 700;
    box-shadow: 2px 2px 5px rgb(241, 3, 3);
    font-size: large;
}

@media (max-width: 600px) {
    header {
        height: 60px
    }

    footer {
        font-size: x-small;
        padding: 10px;
    }

    footer .right {
        color: gray;
    }

    h1 {
        font-size: 21px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 17px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}