@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,900&family=Noto+Serif:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #ffffff;
    color: #333;
    background-color: #001f3f;
    font-family: 'Poppins', sans-serif;
}

main {
    border: 2px solid rgb(241, 3, 3);
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgb(241, 3, 3);
    margin: 10px;
    padding: 10px;
}

main h1 {
    border-bottom: 2px solid rgb(241, 3, 3);
    display: inline-block;
    margin: 20px;
}

article {
    max-width: 1920px;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    background-color: #133250;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 20px 1px rgb(241, 3, 3);
    border-radius: 5px;
}

h2 {
    color: #ffffff;
    display: inline-block;
    border-bottom: 2px solid rgb(241, 3, 3);
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
}

p {
    margin-bottom: 15px;
}

p a {
    text-decoration: none;
    font-style: italic;
    color: rgb(4, 7, 206);
}

p a:hover {
    color: gray;
    font-weight: bold;
}

p a:visited {
    color: rgb(0, 182, 0);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-img img {
    width: 195px;
    object-fit: contain;
    margin: 10px auto;
}

section li::before {
    content: '\2022';
    color: rgb(241, 3, 3);
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#contact-cta {
    text-align: center;
}

#contact-cta button {
    background-color: #000000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    padding: 1rem 2rem;
    background-color: #001325;
    color: #fffafa;
    cursor: pointer;
    margin: 5px;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    box-shadow: 2px 2px 5px rgb(241, 3, 3);
    border-radius: 1rem;
    font-size: 1rem;
}

button a {
    text-decoration: none;
    color: white;
    
}

button:hover {
    font-weight: bold;
    color: #9db8d3;
}

footer {
    background-color: #001325;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: white;
}

footer .left {
    font-size: large;
    text-shadow: rgb(241, 3, 3) 5px 5px 10px;
}

footer .left:hover {
    color: rgb(151, 136, 216);
    font-weight: 700;
    box-shadow: 2px 2px 5px rgb(241, 3, 3);
    font-size: large;
}

@media (max-width: 600px) {
    header {
    height: 60px;
    }
    
    #contact-cta button {
        padding: 5px;
    }
    footer {
        font-size: x-small;
        padding: 10px;
    }

    footer .right {
        color: gray;
    }

    h1 {
        font-size: 21px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 17px;
    }

    main h1 {
        margin: 10px;
    }

    p {
        font-size: 12px;
    }
}