#menu {
    display: none;
}

#menu img {
    position: absolute;
    top: 15px;
    right: 30px;
}

.sidebar {
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    background-color: #001325c6;
    height: 100vh;
    width: 250px;
    z-index: 444;
    box-shadow: 2px 2px 5px rgb(241, 3, 3);
    list-style: none;
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
}

@media (max-width: 1100px) {

    header,
    nav {
        height: 102px;
    }

    nav .left,
    nav .right {
        font-size: 26px;
    }

    .my-name,
    .my-passion {
        font-size: 30px;
        margin-bottom: 10px;
        font-style: italic;
        font-weight: bolder;
    }

    .purple,
    #element {
        color: rgb(230, 64, 225);
        font-weight: 900;
    }

}

@media (max-width: 850px) {
    nav .left,
    nav .right {
        font-size: 23px;
        margin-left: 42px;
    }
}

@media (max-width: 762px) {
    .first-section {
        height: 235px;
        padding: 10px;
    }

    .my-name,
    .my-passion {
        font-size: 26px;
        margin-bottom: 10px;
        font-style: italic;
    }

    .buttons {
        margin: 5px 0;
    }

    .btn {
        font-size: 10px;
        padding: 5px;
    }

    .right-section img {
        width: 200px;
    }

    footer {
        font-size: small;
    }
}

@media (max-width: 755px) {
    header {
        height: 60px;
    }

    nav {
        margin: 0 30px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .left {
        margin: 0;
        font-size: 26px;
        letter-spacing: 3px;
    }

    nav .right {
        height: 30px;
    }

    .hide-on-mobile {
        display: none;
    }

    #menu {
        display: block;
    }

    .my-name,
    .my-passion {
        font-size: 20px;
        margin-bottom: 10px;
        font-style: italic;
    }

    .buttons {
        margin-top: 10px;
    }

    .btn {
        font-size: 8px;
    }

    .right-section img {
        width: 150px;
    }

    .all-about-me {
        margin: 30px;
    }

    .information {
        word-spacing: 3px;
        line-height: 25px;
        padding: 15px;
    }

    .information h2 {
        font-size: 18px;
    }

    .information p {
        margin-top: 20px;
        font-size: 14px;
    }

    footer {
        padding: 10px;
    }
}


@media (max-width: 480px) {
    nav .left {
        font-size: 20px;
    }

    .first-section {
        height: 220px;
    }

    .my-name,
    .my-passion {
        font-size: 18px;
        margin-bottom: 10px;
        font-style: italic;
    }

    .buttons {
        position: relative;
        right: 5px;
    }

    .left-section {
        font-size: x-small;
        padding: 9px;
    }

    .right-section img {
        width: 150px;
    }

    #introduction {
        margin-top: 10px;
        font-size: 14px;
    }

    #conclusion {
        margin-bottom: 10px;
    }
}


@media (max-width: 428px) {
    .right-section img {
        width: 120px;
    }

    .buttons {
        margin-top: 5px;
    }

    .btn {
        font-size: 6px;
    }
}


@media (max-width: 400px) {
    nav {
        margin: 0 10px;
    }
    nav .left {
        font-size: 18px;
    }

    .sidebar {
        width: 100%;
    }

    #menu img {
        right: 10px;
    }

    .first-section {
        height: 180px;
        padding: 0px;
    }

    .my-name,
    .my-passion {
        font-size: 16px;
        margin-bottom: 10px;
        font-style: italic;
    }

    .purple,
    #element {
        color: rgb(230, 64, 225);
        font-weight: 400;
    }

    .buttons {
        margin-top: 10px;
    }

    .btn {
        font-size: 8px;
    }

    .right-section img {
        width: 120px;
    }

    .all-about-me {
        margin: 20px;
    }

    .all-about-me p {
        margin-top: 15px;
    }

    footer {
        font-size: x-small;
    }
}

@media (max-width: 340px) {
    .first-section {
        height: 315px;
        display: flex;
        flex-direction: column-reverse;
        padding: 5px;
    }
    
    .left-section {
        padding: 13px;
        height: 270px;
        position: relative;
    }

    .my-name,
    .passion {
        margin: 0;
    }

    .typed-cursor {
        display: none;
    }

    .buttons {
        position: absolute;
        bottom: 5px;
    }

    .right-section {
        text-align: center;
    }

    .right-section img {
        width: 50%;
    }

    .information h2 {
        font-size: 14px;
        font-size: 1rem;
    }

    .information p {
        font-size: 11px;
        font-size: 0.8rem;
        margin-top: 10px;
    }

    footer .left {
        font-size: 10px;
    }

    footer .right {
        font-size: 8px;
    }
}